This repository contains the source code for my personal photography portfolio website. I built this website using HTML, CSS, JavaScript, and the Tailwind CSS framework. It serves as a digital showcase of my photography work and allows visitors to explore my portfolio, get in touch with me, and learn more about my creative journey.
